@using SmartWorkout.Entities
@page "/add-edit-exercise-log"

<h3>AddOrEdit ExerciseLog</h3>



<EditForm Model="@exerciseLogDto" OnValidSubmit=@SaveExerciseLog FormName="editForm">
	<DataAnnotationsValidator />
	<div class="form-group">
		<label>WorkoutId :</label>
		<div>
			<InputNumber @bind-Value="exerciseLogDto.WorkoutId" class="form-control col-sm-3" />
			<ValidationMessage For="@(() => exerciseLogDto.WorkoutId)" />
		</div>
	</div>
	<div class="form-group">
		<label>ExerciseId :</label>
		<div>
			<InputNumber @bind-Value="exerciseLogDto.ExerciseId" class="form-control col-sm-3" />
			<ValidationMessage For="@(() => exerciseLogDto.ExerciseId)" />
		</div>
	</div>
	<div class="form-group">
		<label>Reps :</label>
		<div>
			<InputNumber @bind-Value="exerciseLogDto.Reps" class="form-control col-sm-3" />
			<ValidationMessage For="@(() => exerciseLogDto.Reps)" />
		</div>
	</div>

	<div class="form-group">
		<label>Duration :</label>
		<div>
			<InputNumber @bind-Value="exerciseLogDto.Duration" class="form-control col-sm-3" />
			<ValidationMessage For="@(() => exerciseLogDto.Duration)" />
		</div>
	</div>

	<div class="form-group">
		<input type="submit" class="btn btn-primary" value="Save" />
	</div>
</EditForm>

